h1 {
  color: red;
}

a {
  color: blue;
}

p a {
  color: pink;
}

p a.abc {
  color: white;
}

div, p a {
  text-align: center;
}

div {
  text-align: center;
}

p p a {
  text-align: center;
}

p > a {
  text-align: center;
}

body > p > a span {
  text-align: center;
}

body > p > a {
  text-align: center;
}

h1 > a {
  text-align: center;
}

body > a {
  text-align: center;
}

a.rrr {
  text-align: center;
}

.rrr {
  text-align: center;
}

.nnn {
  
}

body.xxx {
  
}